body{
    background-color: grey;
    margin-left: 10%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navlist{
    display: inline-flex;
    list-style: none;
    gap: 5%;
}

#list{
    margin-left: 500px;
} 

#container{
    display: grid;
    grid-template-columns: 40% 40%;
    padding-top: 6px;
    
}

#h1{
    font-size: xx-large;
}

#img1{
    width: 50%;
  } 

.ikeo{
    display: inline-flex;
    gap: 20%;
    margin-left: 0%;
}

.samples{
    display: inline-flex;
    gap: 10%;
}

.img{
    width: 200px;
    height: 400px;
}

#restyle{
    display: grid;
    grid-template-columns: 40% 40%;
}
   
button{
        background-color: blueviolet;
        color: black;
        padding: 10px 22px;
        border-radius: 5px;
        width: 200px;
    } 

#fourthpage{
    display: grid;
    grid-template-columns: 50% 50%;
}

.fifthpage{
    text-align: center;
    margin-right: 10%;
}

.icons{
    display: inline-flex;
    gap: 20%;
    
}

.text3{
    text-align: center;
    margin-left: auto;
}

#sixthpage{
    display: flex;  
    padding-top: 100px;  
}


.note{
    margin: auto;
    padding-left: 80px;
} 

.footer{
    display: flex;
    gap: 10%;
}

.foot{
    list-style: none;
}













